services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-alquimia
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

  postgres:
    image: postgres:15
    restart: always
    container_name: backend-alquimia-db
    env_file:
      - ./backend/.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d backend_alquimia"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-alquimia
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  worker:
    build:
      context: ./backend
      dockerfile: worker/Dockerfile
    container_name: alquimia-worker
    depends_on:
      rabbitmq:
        condition: service_started
      postgres:
        condition: service_healthy
    restart: always
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-alquimia
    ports:
      - "3000:80"
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:

volumes:
  postgres-data:
