services:
  
  app:
    build: 
      context: ./backend
    container_name: backend-alquimia
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    
  postgres:
    image: postgres:bookworm
    restart: always
    container_name: backend-alquimia-db
    env_file:
      - ./backend/.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d backend_alquimia"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
      
volumes:
  postgres-data: